**/*.o
**/*.obj
**/.vs
**/x64
source/lastVersion
source/footboard2PC
source/footboard2PC.d
source/UDPServer
source/UDPServer.d
source/footboard2PChf
source/footboard2PChf.d
source/footboard2PCdll
source/footboard2PCdll.d
source/footboard2PChfdll
source/footboard2PChfdll.d
